$tflblue: #000099;
$tflred: #CC3333;
$tfldarkgrey: #333366;
$tfldarkgrey2: #414B56;
$tflgreen: #006633;
$tfltramlinkgreen: #66CC00;
$white: #FFFFFF;
$buttonblue: #164b79;
$fontstack: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;
body {
    background-color: $tflred;
    font-family: $fontstack;
}

h1 {
    display:block;
    width:100%;
    color:$white;
    text-align:center;
}

.content{
    @media only screen and (max-device-width: 400px) {
        width:90%;
    }
    text-align: center;
    padding:10px 10px 10px 10px;
    background-color: $white;
    width:23em;
    margin:auto;
    margin-bottom:10px;
    border: 4px solid $tfldarkgrey2;
    .number-textbox, label {
        display:block;
        margin:auto;
        margin-top:5px;
        padding-bottom: 0.7em;
    }
    img {
        width:90%;
    }
}

.buttons {
    height:5em;
    margin:auto;
    width:100%;
    padding-top: 1em;

    .irritating-shim {
        display:inline-block;
        background-color: lime;
        margin-right: 0.5em;
        margin-left: 0.5em;
    }
    span {
        background-color: fuchsia;
        border: 2px solid $tfldarkgrey;
        font-size: 12pt;
        height:5em;
        width:7em;
        display:table-cell;
        vertical-align: middle;
        a {
            color:$white;
            display: block;
            text-decoration: none;
        }
    }
    .submit-button {
        background-color: $tflgreen;
    }
    .help-button {
        background-color: $tflblue;
    }
}
